.findLabel {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
}

.inputForm {
  font-family: 'Spartan', sans-serif;
  font-weight: 500;
  text-align: right;
  padding: 5px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .inputForm {
    width: 300px;
  }
}
