.container {
  max-width: 375px;
  margin: auto;
  padding: 20px;
}

.title {
  text-align: right;
  font-family: 'Grechen Fuemen', cursive;
  font-size: 2.5rem;
  color: #292929;
  margin-bottom: 20px;
}

.titleContacts {
  text-align: right;
  font-family: 'Grechen Fuemen', cursive;
  font-size: 2rem;
  color: #292929;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1024px;
    min-height: 1000px;
    background-image: url('./pictures/Bg3.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .phonebook {
    width: 50%;
    padding-top: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    background-size: 100%;
  }
}
